:root {
  font-family: var(--font-primary);
}

.container {
  width: 300px;
  margin: 20px auto;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  background-color: var(--container-bg);
  height: 300px;
  width: 300px;
  margin: 20px auto;
}

.add-file {
  height: 50px;
  width: 50px;
  background-color: var(--secondary-800);
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-left: auto;
  margin-right: 30px;
  margin-top: -45px;
  position: relative;
}

#caption {
  height: 50px;
  width: 100%;
  padding: 5px;
  color: gray;
  background-color: var(--secondary-50);
}

#caption:focus {
  border-bottom: 1px solid var(--secondary-800);
}
