<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cats/main.css' %}">
    <meta charset="utf-8">
    <title>Catstagram</title>
    {% block head %}{% endblock %}
  </head>
  <body>

    {% block header %}
      <div class="header">
        <h1 class="title">Catstagram</h1>
        <div class="more-profile" style="background:url('{{ user.profile.profile_picture.url }}') top center / 50px 50px">
          <div class="more-content">
            <p><b>@isaiahnavasquez</b></p>
            <a href="{% url 'cats:logout' %}" class="btn-secondary" style="margin-top:10px">logout</a>
          </div>
        </div>
      </div>
      <div style="height:65px;width:100%"></div>

    {% endblock %}

    {% block body %}{% endblock %}

  </body>
  {% block script %}{% endblock %}
</html>
