<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Confirm Password</title>
  </head>
  <body>
    <h2>Enter your new password</h2>
    <p>{{ message }}</p>
    <form class="" action="{% url 'users:reset-password' %}" method="post">
      {% csrf_token %}
      <label for="email">Email</label><br>
      <input type="text" name="email" placeholder="email@email.com" id="email"><br>
      <input type="submit" value="Submit Request">
    </form>
  </body>
</html>
