@import url('https://fonts.googleapis.com/css?family=Quicksand');

:root {
  --primary-800: #356859;
  --primary-500: #37966f;
  --primary-100: #b9e4c9;
  --secondary-800: #fd5523;
  --secondary-50: #fffbe6;
  --container-bg: #f2f5df;
  --header-bg: #ece9d5;
  --shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --font-primary: 'Quicksand', sans-serif;
  --font-color-primary: #34515e;
}

body {
  background-color: var(--secondary-50);
  margin: 0;
}

input {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="file"],
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

a {
  color: black;
  text-decoration: none;
}

.btn-primary {
  color: white;
  text-decoration: none;
  background-color: var(--secondary-800);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn-secondary {
  color: white;
  text-decoration: none;
  background-color: var(--primary-500);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header {
  height: 65px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: fixed;
  top: 0;
  background-color: var(--secondary-50);
}

.header .title {
  font-family: var(--font-primary);
  margin: 0;
  padding: 10px;
  color: var(--primary-800);
  text-align: center;
}

.more-profile {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 40px;
}

.more-profile .more-content {
  display: none;
  box-shadow: var(--shadow-1);
  width: 150px;
  height: 100px;
  position: absolute;
  z-index: 3;
  right: 25px;
  top: 23px;
  padding: 10px;
  background-color: white;
  text-align: center;
}

.more-profile:hover .more-content {
  display: block;
}
