{% extends 'cats/base/master.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'cats/pages/register.css' %}">
  <link rel="stylesheet" href="{% static 'cats/pages/edit-profile.css' %}">
{% endblock %}

{% block body %}
  <form action="{% url 'cats:edit-profile' %}" method="POST" enctype="multipart/form-data">
    <div style="width:100%;text-align:center">
      <h2 class="title">Register</h2>
    </div>
    <div class="wrapper" style="width:100%;text-align:center">
      {% if user.profile.profile_picture.url %}
        <img class="profile-image" src="{{ user.profile.profile_picture.url }}" id="image"/><br>
      {% else %}
        <img class="profile-image" id="image"/><br>
      {% endif %}
      <a class="btn-secondary" id="addFile">Upload Photo</a>
    </div>
    <div class="container">
      {% csrf_token %}
      <small>{{ form.username.errors }}</small><br>
      <label for="username"><b>Username</b></label><br>
      <!-- <input type="text" placeholder="felineconqueror" id="username" name="username"><br> -->
      {{ form.username }}

      <small>{{ form.f_name.errors }}</small><br>
      <label for="name"><b>Full name</b></label><br>
      <!-- <input type="text" placeholder="Mr. Feline Jones" id="name" name="f_name"><br> -->
      {{ form.f_name }}

      <small>{{ form.email.errors }}</small><br>
      <label for="email"><b>Email Address</b></label><br>
      <!-- <input type="text" placeholder="felinejones@gmail.com" id="email" name="email"><br> -->
      {{ form.email }}

      <small>{{ form.bio.errors }}</small><br>
      <label for="bio"><b>Bio</b></label><br>
      <!-- <input type="text" placeholder="tell me about yourself" id="bio" name="bio"><br> -->
      {{ form.bio }}

      <br>
      <label for="password"><b>Password</b></label><br>
      <input type="password" placeholder="leave blank to retain" id="password" name="password">

      <small>{{ password_error }}</small><br>
      <label for="password_confirm"><b>Confirm password</b></label><br>
      <input type="password" placeholder="confirm if changed" id="password_confirm" name="password_confirm">
      <br>
      <div class="wrapper" style="text-align:center">
        <button type="submit" class="btn-primary">Save Changes</button>
      </div>
    </div>
    <input style="display:none" type="file" id="inputFile" name="image">
  </form>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    addFile = document.querySelector('#addFile');
    inputFile = document.querySelector('#inputFile');
    imgField = document.querySelector('#image');

    function readImage(input){
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          imgField.setAttribute('src', e.target.result)
        }
        reader.readAsDataURL(input.files[0])
      }
    }

    addFile.addEventListener('click', function() {
      inputFile.click()
    })

    inputFile.addEventListener('change', function() {
      readImage(this)
    })
  </script>
{% endblock %}
