{% extends 'cats/base/master.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'cats/pages/home.css' %}">
{% endblock %}

{% block body %}

  {% block tabs %}
    <br>
    <div class="tabs">
      <div class="tab">
        <h3 class="selected"><a href="{% url 'cats:home' %}">Home</a></h3>
      </div>
      <div class="tab">
        <h3><a href="{% url 'cats:profile' %}">Profile</a></h3>
      </div>
    </div><br><br>
  {% endblock %}

  {% block content %}
  <div class="wrapper">
    <div class="container">
      {% for post in posts|slice:"::-1" %}
        <div class="post">
          <div class="post-header">
            <img class="profile" src="{{ post.author.profile.profile_picture.url }}">
            <div class="username"><a href="{% url 'cats:view_profile' post.author.username %}">@{{ post.author.username }}</a></div>
          </div>
          <img class="post-image" src="{{ post.picture.url }}">
          <div class="content">
            <h4 style="margin:0">0 likes</h4>
            <p class="caption">{{ post.caption }}</p>
            <label for="caption"><small><b>Add a comment</b></small></label>
            <textarea name="name" id="comment"></textarea>
          </div>
        </div>
      {% empty %}
      <div style="text-align:center">
        <img src="{% static 'cats/images/cat-404.png' %}" class="no-image">
        <p>Oops. Nothing to show yet.</p>
        <p>Explore and Follow catstagrammers to get started!</p><br>
        <a href="#" class="btn-primary">Explore</a>
      </div>
      {% endfor %}
    </div>
    <div class="sidebar">
      <img src="{{ user.profile.profile_picture.url }}" class="profile"/>
      <h2 class="username">@{{ user.username }}</h2>
      <p class="bio">{{ user.profile.bio }}</p>
      <br>
      <a href="{% url 'cats:create-post' %}" class="btn-primary">Add Post</a>
      <a href="{% url 'cats:edit-profile' %}" class="btn-secondary">Edit Profile</a>
    </div>
  </div>
  {% endblock %}


{% endblock %}
