{% extends 'cats/base/master.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'cats/pages/home.css' %}">
{% endblock %}

{% block body %}

  {% block tabs %}
    <br>
    <div class="tabs">
      <div class="tab">
        <h3 class="selected"><a href="{% url 'cats:home' %}">Home</a></h3>
      </div>
      <div class="tab">
        <h3><a href="{% url 'cats:profile' %}">Profile</a></h3>
      </div>
    </div><br><br>
  {% endblock %}

  {% block content %}
  <div class="wrapper">
    <div class="container">
      {% for post in posts %}
        <div class="post">
          <div class="post-header">
            <img class="profile" src="{{ post.author.profile.profile_picture.url }}">
            <div class="username">@{{ post.author.username }}</div>
          </div>
          <img class="post-image" src="{{ post.picture.url }}">
          <div class="content">
            <h4 style="margin:0">0 likes</h4>
            <p class="caption">{{ post.caption }}</p>
            <label for="caption">Add a comment</label>
            <textarea name="name" id="caption"></textarea>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="sidebar">
      <div class="profile"></div>
      <h2 class="username">@{{ user.username }}</h2>
      <p class="bio">{{ user.profile.bio }}</p>
      <br>
      <a href="{% url 'cats:create-post' %}" class="btn-primary">Add Post</a>
      <a href="{% url 'cats:edit-profile' %}" class="btn-secondary">Edit Profile</a>
    </div>
  </div>
  {% endblock %}


{% endblock %}
