{% extends 'cats/pages/home.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'cats/pages/home.css' %}">
  <link rel="stylesheet" href="{% static 'cats/pages/profile.css' %}">
{% endblock %}

{% block tabs %}
  <br>
  <div class="tabs">
    <div class="tab">
      <h3><a href="{% url 'cats:home' %}">Home</a></h3>
    </div>
    <div class="tab">
      <h3 class="selected"><a href="{% url 'cats:profile' %}">Profile</a></h3>
    </div>
  </div><br><br>
{% endblock %}

{% block content %}
  <div class="profile-content">
    <img src="{{ profile.profile.profile_picture.url }}" class="profile">
    <h3>@{{ profile.username }}</h3>
    <p class="bio">{{ profile.profile.bio }}</p>
    <br>
    {% if user.username == profile.username %}
      <a href="{% url 'cats:create-post' %}" class="btn-primary">Add Post</a> &nbsp;
      <a href="{% url 'cats:edit-profile' %}" class="btn-secondary">Edit Profile</a>
    {% endif %}
    <br><br>
  </div>
  <div class="container">
    {% for post in user.posts.all %}
      <img class="post" src="{{ post.picture.url }}"/>
    {% endfor %}
  </div>
{% endblock %}
