{% extends 'cats/base/master.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'cats/pages/view-post.css' %}">
  <link rel="stylesheet" href="{% static 'cats/pages/home.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="post">
      <div class="post-header">
        <img class="profile" src="{{ post.author.profile.profile_picture.url }}">
        <div class="username"><a href="{% url 'cats:view_profile' post.author.username %}">@{{ post.author.username }}</a></div>
      </div>
      <img class="post-image" src="{{ post.picture.url }}">
      <div class="content">
        <h4 style="margin:0">0 likes</h4>
        <p class="caption" id="caption_{{ post.author.username }}_{{ post.id }}">
          <b>@{{ post.author.username }}</b>
          {{ post.caption }}
        </p>
        <div id="comment_field_{{ post.id }}">
          {% for comment in post.comments.all %}
          <p>
            <b>@{{ comment.author.username }}</b>
            &nbsp;&nbsp;{{ comment.content }}
          </p>
          {% endfor %}
        </div>
        <label for="caption"><small><b>Add a comment</b></small></label>
        <form method="post" id="cform_{{ post.author.username }}_{{ post.id }}" data-url="{% url 'cats:add_comment' %}">
          <input type="text" name="comment_text" class="comment" id="txt_comment_{{ post.author.username }}_{{ post.id }}">
          <input type="hidden" name="post_id" value="{{ post.id }}">
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $("#cform_{{ post.author.username }}_{{ post.id }}").submit(function(e){
      e.preventDefault();
      form = $(this);
      $.ajax({
        url: form.attr('data-url'),
        data: form.serialize(),
        dataType: 'json',
        success: function(data) {
          el = $('#comment_field_{{ post.id }}');
          cm = "<p><b>@" + data['author'] + "</b>&nbsp;&nbsp;" + data['comment'] + "</p>";
          el.append(cm)
          $('#txt_comment_{{ post.author.username }}_{{ post.id }}')[0].value = ''
        }
      })
    });
  </script>
{% endblock %}
